<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.piter.fm"
          android:versionCode="10"
          android:versionName="2.0.5">


    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14"/>
    <supports-screens android:anyDensity="true" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application android:icon="@drawable/icon" android:label="PITER FM" android:name=".App" android:theme="@style/PiterFM.Theme">

        <activity android:name=".activities.RadioActivity"
                  android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.SettingsActivity"/>
        <activity android:name=".activities.ChannelActivity"
                  android:windowSoftInputMode="stateHidden" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name="com.google.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        <service android:name=".player.PlayerService" />

    </application>




</manifest>
