<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.piter.fm"
          android:versionCode="8"
          android:versionName="2.0.3">


    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application android:icon="@drawable/logo" android:label="PITER FM" android:name=".App" android:theme="@style/PiterFM.Theme">

        <activity android:name=".activities.RadioActivity"
                  android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.SettingsActivity"/>
        <service android:name=".player.PlayerService" />

    </application>




</manifest>
